<h2>ようこそ、ながのCAKEへ！<br>
    このサイトは、ケーキ販売のECサイトになります。<br>
    会員でない方も商品の閲覧はできますが、<br>
    購入には会員登録が必要になります。
</h2>
    
<h1><string>新着商品</string></h1>
<% @item.each do |item| %>
<%= link_to item_path(item.id) do %> 
<%= image_tag item.get_image(100,100)  %>
<% end %>
<% end %>
<%= link_to "全ての商品を見る >", items_path %>